html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-image: url('../images/vintage-green.png');
  background-attachment: fixed;
  /* background-image: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(54, 253, 45, 1) 100%); */
}
.lists {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
#input {
  display: block;
  margin: 50px auto 20px;
  width: 300px;
  height: 50px;
  border: 2px solid rgb(70, 42, 31);
  border-radius: 20px;
  text-align: center;
}

.btn-grad {
  background-image: linear-gradient(to right, #757f9a 0%, #d7dde8 51%, #757f9a 100%);
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.input-btn {
  display: flex;
  justify-content: center;
}
.load-more {
  margin: 50px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery_list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.photo-card {
  border-radius: 15px;
  border: 2px tomato;
  overflow: hidden;
}
.photo-list--stats {
  background-color: rgba(255, 255, 255, 0.623);
}

.photo {
  height: 210px;
}
.photo-img {
  display: block;
  width: 100%;
  height: 210px;
  object-fit: cover;

  cursor: pointer;
}
.photo-list--stats {
  display: flex;
  justify-content: space-evenly;
}
.stats-item {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.material-icons {
  display: flex;
  justify-content: center;
}
.is-hidden {
  display: none;
}
